*{margin: 0;padding: 0;scroll-behavior: smooth;box-sizing: border-box;font-family: 'Poppins', sans-serif;}
a{text-decoration: none}
li{list-style: none}

:root{
    /*        Color              */
    --main-color: #494d5f;
    --main-red: purple;
    --grey: #eee;
    --white: #ffff;
    --text-color: rgba(42,42,42,0.8);
    --linear-red: linear-gradient(to right, purple, #333333);
    /*        Font Size              */
    --little-title: 30px;
    --title-title: 35px;
    --text20: 20px;
    --text18: 18px;
    --text16: 16px;
}
.formulaire{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 0;
}
.formulaire .container{
    width: 1100px;
    height: 750px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.formulaire .container .contact_box{
    transform: translateX(-50%);
    width: 300px;
    height: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: var(--main-color);
    border-radius: 5px;
    z-index: 3;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}
.formulaire .container .contact_box h3{
    color: white;
    font-size: 25px;
}
.formulaire .container .contact_box ul{
    text-align: left;
    padding-top: 27px;
}
.formulaire .container .contact_box ul li{
    font-size: 16px;
    color: white;
    margin-top: 40px;
    display: flex;
    margin-left: 40px;
    justify-content: flex-start;
}
.formulaire .container .contact_box ul li i{
    font-size: 25px;
    margin-right: 10px;
    color: purple;
}
.formulaire .container form{
    width: 700px;
    height: 500px;
    margin-right: 100px;
    align-items: center;
}
.formulaire .container h3{
    color: var(--main-color);
    font-size: 25px;
}
.formulaire .container form .form_container{
    margin-top: 40px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.formulaire .container form .form_container .input_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formulaire .container form .form_container .input_container .input_bloc{
    width: 600px;
    display: flex;
    justify-content: center;
}
.formulaire .container form .form_container .input_container .input_box{
    width: 270px;
    height: 50px;
    margin: 10px 10px;
}
.formulaire .container form .form_container .input_container .input_box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--main-color);
    transition: all 0.5s ease;
    font-size: 15px;
}
.formulaire .container form .form_container .input_container .input_box input:focus, .formulaire .container form .form_container .text_area input:focus{
    border-bottom: 2px solid var(--main-red);
}
.formulaire .container form .form_container .text_area{
    width: 560px;
    height: 50px;
    margin: 23px;
}
.formulaire .container form .form_container .text_area input{
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--main-color);
}
.formulaire .container form .form_container .button{
    width: 150px;
    height: 45px;
}
.formulaire .container form .form_container .button input{
    width: 100%;
    height: 100%;
    background: var(--main-red);
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    margin: 23px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.formulaire .container form .form_container .button input:hover{
    transform: scale(1.06);
}
@media (max-width: 1460px) {
    .formulaire .container .contact_box{
        transform: translateX(0);
        width: 300px;
        height: 100%;
        margin-right: 40px;
    }
    .formulaire .container form{
        width: 700px;
        height: 500px;
        margin-right: 30px;
        align-items: center;
    }
    .formulaire .container .contact_box ul{
        text-align: left;
        padding-top: 50px;
    }
}
@media (max-width: 1130px) {
    .formulaire .container{
        width: 100%;
        height: 600px;
        padding: 50px 0 0;
        flex-direction: column;
    }
    .formulaire .container .contact_box{
        display: none;
    }
    .formulaire .container form{
        width: 100%;
        height: 500px;
        margin: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }
    .formulaire .container h3 {
        color: var(--main-color);
        font-size: 25px;
    }
}
@media (max-width: 700px) {
    .formulaire .container form .form_container .text_area{
        width: 100%;
        height: 80px;
        margin: 23px 0;
    }
    .formulaire .container form .form_container .input_container .input_box{
        width: 50%;
        height: 50px;
        margin: 10px 0;
    }
    .formulaire .container form .form_container .input_container .input_bloc .input_box:nth-child(1){
        margin-right: 30px;
    }
    .formulaire .container form .form_container .input_container .input_bloc{
        width: 100%;
    }
    .formulaire .container form .form_container{
        width: 100%;
        padding: 0 20px;
    }
}
@media (max-width: 500px) {
    .formulaire .container form .form_container .input_container .input_box{
        width: 100%;
    }
    .formulaire .container form .form_container .input_container .input_bloc{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .formulaire .container{
        width: 100%;
        height: 700px;
        padding: 50px 0 0;
        flex-direction: column;
    }
}

