body {
    font-family: Arial, sans-serif;
  }

  .facture {
    width: 600px;
    height: 900px; 
    margin: 0 auto;
    padding: 20px;
  }

  .facture-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .facture-header h1 {
    color: #494d5f;
  }

  .facture-details {
    margin-bottom: 20px;
  }

  .facture-details p {
    margin: 0;
  }

  .facture-items {
    width: 100%;
    border-collapse: collapse;
  }

  .facture-items th,
  .facture-items td {
    border: 1px solid #ccc;
    padding: 8px;
  }

  .facture-items th {
    background-color: purple;
    color: white;
    text-align: left;
  }

  .facture-total {
    /* display: flex; */
    /* justify-content: space-between; */
    text-align: right;
    color: #eee;
    background-color: #494d5f;
    padding: 8px;
    margin-top: 10px;

  }

  .facture-total p {
    margin: 0;
  }
.sg{
    text-align: right;
    align-items: end;
    color: black;
}